<%= form_for @tweet do |f| %>
	<div class="row" id="tweet-area-div">
		<div class="col-md-2">
			<% if current_user.image.exists? %>
            	<%= image_tag current_user.image.url(:thumb), id: "tweet-creation-box-image-user" %>
            <% else %>
            	<%= image_tag("owl.png", id: "tweet-creation-box-image-owl") %>
            <% end %>
		</div>
		<div class="col-md-10">
			<%= f.text_area :body, placeholder: "What's going on?", class: 'form-control', id: 'txt-area' %>
		</div>

		<div class="row" id="tweet-area-attachments">
			<img id="tweet-area-attachments-target" src="#" />
		</div>

		<div class="row" id="tweet-area-options">
			<div class="col-md-6">
				<span class="glyphicon glyphicon-camera" id="camera"></span>

				<%= form_for current_user, html: { multipart: true } do |f| %>
					<%= f.file_field :photo, id: 'tweet-creaton-choose-photo-btn' %>
					<%= f.submit :upload, id: 'tweet-creaton-choose-photo-submit-btn' %>
				<% end %>
			</div>
			<div class="col-md-6">
				<%= f.submit 'Tweet', class: 'btn btn-info', id: 'tweet-btn' %>
				<div id="counter">140</div>
			</div>
		</div>
	</div>
<% end %>
