 <%= form_for @tweet, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="col-md-2">
			<% if current_user.image.exists? %>
            	<div id="tweet-creation-box-image-user" style="background-image: url(<%= current_user.image.url(:thumb) %>);"></div>
            <% else %>
            	<%= image_tag("owl.png", id: "tweet-creation-box-image-owl") %>
            <% end %>
		</div>
		<div class="col-md-10">
			<%= f.text_area :body, placeholder: "What's going on?", class: 'form-control', id: 'txt-area' %>
		</div>

		<div class="row" id="tweet-area-attachments">
			<div id="tweet-area-attachments-target">
				<span class="glyphicon glyphicon-remove" id="remove-photo"></span>
			</div>
		</div>

		<div class="row" id="tweet-area-options">
			<div class="col-md-6">
				<span class="glyphicon glyphicon-camera" id="camera"></span>
				<%= f.file_field :photo, id: 'tweet-creaton-choose-photo-btn' %>
			</div>
			<div class="col-md-6">
				<%= f.submit 'Tweet', class: 'btn btn-info', id: 'tweet-btn' %>
				<div id="counter">140</div>
			</div>
		</div>
	</div>
<% end %>
