<div class="container">
	
	<% if flash[:msg] %>
		<div class="msg"><%= flash[:msg] %></div>
	<% end %>

	<div class="row">
		<div class="col-md-3" id="user-info">
			<% if current_user.bigger_image.exists? %>
				<div class="row" id="upper-part-with-img" style="background-image: url(<%= current_user.bigger_image.url(:large) %>);">
					<%= link_to '', user_path(current_user) %>
				</div>
            <% else %>
            	<div class="row" id="upper-part-no-img">
					<%= link_to '', user_path(current_user) %>
				</div>
			<% end %>              	

			<div class="row">
				<div class="col-md-4">

					<% if current_user.image.exists? %>
						<div id="user-info-thumb-img" style="background-image: url(<%= current_user.image.url(:medium) %>);"></div>
					<% else %>
						<%= image_tag("owl.png", id: "user-info-owl") %>
					<% end %>

					<div id="user-info-img-uploader">
		            	<li class="text-center">
		            		<span>Upload photo</span>
		            	</li>
		            	<li class="text-center"><span>Cancel</span></li>
		            </div>
					
					<%= form_for current_user, html: { multipart: true } do |f| %>
						<%= f.file_field :image, id: 'choose-photo-btn' %>
						<%= f.submit :upload, id: 'choose-photo-submit-btn' %>
					<% end %>

	            	<%= render 'image_preview' %>


				</div>
				<div class="col-md-8" id="user-info-user-name">
					<h4><strong><%= link_to current_user.fullname, user_path(current_user)  %></strong></h4>
					<h6><%= link_to current_user.username, user_path(current_user)  %></h6>
				</div>
			</div>
			
			<div class="row" id="user-info-stats">
				<div class="col-md-4">
					<span><%= link_to 'TWEETS', user_path(current_user) %></span>
					<h4><%= current_user.tweets.count %></h4>
				</div>
				<div class="col-md-4">
					<span><%= link_to 'FOLLOWING', show_following_path(current_user) %></span>
					<h4><%= current_user.follows.count %></h4>
				</div>
				<div class="col-md-4">
					<span><%= link_to 'FOLLOWERS', show_followers_path(current_user) %></span>
					<h4><%= current_user.followers.count %></h4>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="row" id="tweet-area-div">
				<%= render 'tweet_creation' %>
			</div>
			<% @tweets.each do |tweet| %>
				<div class="row feed">
					<div class="col-md-2">
						<%= link_to user_path(tweet.user) do  %>
							<div class="feed-image" style="background-image: url(<%= tweet.user.image.url(:thumb) %>);">
								<%= render 'users/user_info_hover' %>
							</div>
						<% end %>
					</div>
					<div class="col-md-10">
						<div class="row">
							<h6>
								<strong><%= tweet.user.fullname %></strong>
								<%= tweet.user.username %>
								<%= time_ago_in_words(tweet.created_at) %> ago
							</h6>
						</div>
						<div class="row">
							<p><%= tweet.body %></p>

							<% if tweet.photo.exists? %>
			                	<div class="tweet-images" style="background-image: url(<%= tweet.photo.url(:large) %>);"></div>
							<% end %>
						</div>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</div>