<div class="col-md-3 user-info-hover-feed">
	<%= link_to user_path(tweet.user) do  %>
		<% if tweet.user.bigger_image.exists? %>
			<div class="row upper-part-with-img" style="background-image: url(<%= tweet.user.bigger_image.url(:large) %>);"></div>
		<% else %>
			<div class="row upper-part-no-img"></div>
		<% end %>
	<% end %>
              	

	<div class="row">
		<div class="col-md-4">
			<%= link_to user_path(tweet.user) do  %>
				<% if tweet.user.image.exists? %>
					<div id="user-info-thumb-img" style="background-image: url(<%= tweet.user.image.url(:medium) %>);"></div>
				<% else %>
					<%= image_tag("owl.png", id: "user-info-hover-owl") %>
				<% end %>
			<% end %>
		</div>
		<div class="col-md-8" id="user-info--hover-user-name">
			<h4><strong><%= link_to tweet.user.fullname, user_path(tweet.user)  %></strong></h4>
			<h6><%= link_to tweet.user.username, user_path(tweet.user)  %></h6>
		</div>
	</div>
	
	<div class="row" id="user-info-stats">
		<div class="col-md-4">
			<span><%= link_to 'TWEETS', user_path(tweet.user) %></span>
			<h4><%= tweet.user.tweets.count %></h4>
		</div>
		<div class="col-md-4">
			<span><%= link_to 'FOLLOWING', show_following_path(tweet.user) %></span>
			<h4><%= tweet.user.follows.count %></h4>
		</div>
		<div class="col-md-4">
			<span><%= link_to 'FOLLOWERS', show_followers_path(tweet.user) %></span>
			<h4><%= tweet.user.followers.count %></h4>
		</div>
	</div>
</div>
