<div class="nav navbar-right" id="search-suggestions-box">
	<% if @users_found %>
		<% @users_found.each do |uf| %>
			<li>
				<%= link_to user_path(uf), class: "search-suggestions-box-link" do %>
					<div class="search-suggestion-box-image" style="background-image: url(<%= uf.image.url(:thumb) %>);"></div>
					<strong><%= uf.fullname %></strong>
			    	<small><%= uf.username %></small>
			    	<h6><%= check_friendship_status(uf) %></h6>
				<% end %>
			</li>
		<% end %>
	<% end %>
</div>